{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "html",
          "css",
          "javascript",
          "go",
          "csharp"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}